	
	<h1>Salmón<div class="ripple"></div></h1>
	<div class="centro">
	<%= link_to "Empresa",  sign_in_path, :class => "btn btn-large btn-danger" %> <%= link_to "Usuario", new_user_session_path, :class => "btn btn-large" %>
	</div>
	<div class="dere">
		<blockquote>
			<p class="blanco"> Salmón te ayuda organiza tu fuerza de ventas, catalogos, seguimiento de metas,<br> tareas, para que tu negocio cresca </p>
			<small class="blanco"><strong>Lubu SAS</strong></small>
		</blockquote>
	</div>


