	
	<h1>Salmón<div class="ripple"></div></h1>
	<div class="centro">
	<%= link_to "Empresa",  sign_in_path, :class => "btn btn-large btn-danger" %> <%= link_to "Usuario", new_user_session_path, :class => "btn btn-large" %>
	</div>
	<div class="dere">
		<blockquote>
			<p class="blanco"> Salmón te ayuda organiza tu fuerza de ventas, seguimiento de metas, tareas, para que tu negocio cresca </p>
			<small>Someone famous <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>


